* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  letter-spacing: 1px;
  text-transform: capitalize;
}
:root {
  --border-radius: 10px;
  --fs-head: 45px;
  --padding: 40px 0;
  --fh-weight: 500;
  --border: none;
  --links: 25px;
  --color: #3f88c7;
  --background-color: #2ab9c057;
}

.contain {
  max-width: 1222px;
  margin: 0 auto;
  padding: 10px 20px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.company-logo img {
  width: 180px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}
.navlinks a:hover {
  color: #0088ff;
  font-weight: 400;
}
.navlinks a {
  font-size: var(--links);
  text-decoration: var(--border);
  color: black;
  font-weight: 400;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  margin-left: 20px;
}

button.learn-more {
  width: 13rem;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #3f88c7;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
  transition: 0.5s all ease;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}
.hero-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 40px 0;
}
.hero-section .left-hero-section {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  width: 45%;
  flex-direction: column;
  padding-top: 70px;
}
.hero-section .right-hero-section {
  width: 55%;
}
.section-left h1 {
  font-size: 48px;
  font-weight: 600;
}
.section-left h2 {
  font-size: 48px;
  color: #3f88c7;
  font-weight: 500;
}
.section-right img {
  width: 100%;
}
#aimation-text {
  font-size: var(--fs-head);
  color: #3f88c7;
  font-weight: 400;
}
.review-section img {
  width: 350px;
}
.work-with {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  /* width: 100%; */
  height: 150px;
  background-color: var(--background-color);
}
.companies-we-work h1 {
  color: var(--color);
  font-weight: 600;
  font-size: var(--fs-head);
}
.company-names {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
/* ------- */
.our-services h1 {
  font-weight: 700;
  font-size: var(--fs-head);
  padding: 40px 0;
}
.we-offers {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.we-offers button {
  font-size: var(--fs-head);
}
.plans {
  width: 100%;
  background-color: #2ab9c057;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 50px;
}
.left-plan {
  width: 60%;
}
.left-plan li {
  color: #3f88c7;
  list-style: none;
  font-size: 35px;
  line-height: 1.2;
  text-transform: capitalize;
  font-weight: 500;
}
.right-plan {
  width: 40%;
}
.right-plan img {
  width: 100%;
}
.portfolio-heading h1 {
  font-size: 45px;
  padding: 40px 0;
  font-weight: 500;
}

.scroller {
  overflow: hidden;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-bottom: 20px;
  border: 1px solid rgba(173, 216, 230, 0.212);
  border-radius: var(--border-radius);
  text-transform: capitalize;
}

.portfolio-wrapper {
  transition-timing-function: linear !important;
}
/* .swiper-slide[data-slide-index="1"] {
}

.swiper-slide[data-slide-index="2"] {
}

.swiper-slide[data-slide-index="3"] {
} */

.our-agenda {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
.our-image {
  width: 100%;
}
.our-image img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}
.our-portfolio-text {
  font-size: 15px;
  padding: 20px;
}
.our-portfolio-text h1 {
  font-weight: 300;
  font-size: 25px;
}
.our-portfolio-text h4 {
  font-weight: 200;
  padding: 10px 0;
  font-size: 17px;
}
.case-button button {
  padding: 7px 8px;
  border-radius: 20px;
  border: 3px solid #2ab9c0;
  border-radius: 60px;
  outline: none;
  background-color: white;
  font-size: 20px;
  color: #2ab9c0;
  font-weight: 200;
  text-transform: capitalize;
}
.case-arrow {
  border: 3px solid #2ab9c0;
  border-radius: 50%;
  font-size: 25px;
  margin-left: 10px;
}
.about-us-heading h1 {
  font-size: 45px;
  padding: 40px 0;
  font-weight: 500;
  letter-spacing: 0;
}
.about-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
.pargraph-container p {
  font-size: 20px;
  font-weight: 500;
}
.image-about-container img {
  border-radius: var(--border-radius);
}
.about-blogs h1 {
  font-size: 45px;
  padding: 40px 0;
  font-weight: 500;
}
.about-blogs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 25px;
}
.blogs-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #2ab9c037;
  border-radius: var(--border-radius);
}
.blogs-image img {
  width: 100%;
  object-fit: cover;
}
.blogs-text h3 {
  padding: 10px;
  font-weight: 200;
}
.blog-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.view-more {
  border: 2px solid #2ab9c0;
  border-radius: 50%;
  font-size: 25px;
  margin-left: 15px;
}
.blog-button button {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: white;
  color: #2ab9c0;
  border: 3px solid #2ab9c0;
  font-size: 25px;
  font-weight: 300;
}
.methadologies-heading h1 {
  font-size: 45px;
  padding: 40px 0;
  font-weight: 500;
}
.paragraph-methadologies p {
  font-size: 25px;
  font-weight: 300;
}
.methodologist-svg {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.svg-text h5 {
  font-size: 17px;
  font-weight: 500;
  color: #2ab9c0;
  text-align: center;
}
.ri-arrow-down-s-line {
  font-size: 30px;
}
.strategy-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  grid-column: 2 / span 2;
  gap: 20px;
}
.startegy-paragraph p {
  font-size: 20px;
  font-weight: 400;
}
.industry-heading h1 {
  font-size: 45px;
  padding: 40px 0;
  font-weight: 700;
}
.industrial-expertise {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 15px;
  /* padding: 0 15px; */
}
.industry-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.svg-icons-head {
  background-color: #2ab9c0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: var(--border-radius);
}
.svg-icons-head img {
  width: 70%;
}

.svg-title h5 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #19d4de;
}
.Testimonial-heading h1 {
  font-size: 45px;
  padding: 40px 0;
  font-weight: 700;
}
/* .Testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 15px;
  padding: 10px;
}
.Testimonial-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border: 3px solid #2ab9c0;
  border-radius: var(--border-radius);
  padding: 15px;
} */

.contact-us-heading h1 {
  font-size: 45px;
  padding: 40px 0;
  font-weight: 700;
}
.contact-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 30px;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 10px;
}
input::placeholder {
  color: #0088ff;
  font-size: 20px;
}
input:focus {
  outline: none;
}
.input input {
  padding: 15px 50px;
  border-radius: 30px;
  border: 2px solid #19d4de;
  width: 100%;
}
.email {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email input {
  width: 100%;
  padding: 15px 50px;
  border-radius: 30px;
  border: 2px solid #19d4de;
  margin-top: 20px;
}
.textarea {
  width: 80%;
  border: 3px solid #19d4de;
  margin-top: 20px;
  border: none;
}
.textarea input {
  width: 100%;
  height: 150px;
  border: 2px solid #19d4de;
  border-radius: 20px;
}
.submit {
  padding: 10px 40px;
  border: 2px solid #19d4de;
  border-radius: 30px;
  margin-top: 20px;
  background-color: #19d4de;
  color: white;
  font-size: 20px;
}
