* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 600;
}
.contain {
  max-width: 1222px;
  margin: 0 auto;
  padding: 10px 0;
  text-transform: capitalize;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img {
  width: 15%;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.navbar a {
  font-size: 25px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}

.navbar h4 {
  border: 3px solid #2ab9c0;
  border-radius: 60px;
  padding: 7px 5px;
  font-size: 20px;
  color: #2ab9c0;
  position: relative;
  overflow: hidden;
  transition: all ease 0.5s;
  font-weight: 100;
}
.arrow {
  border: 3px solid #2ab9c0;
  border-radius: 50%;
  font-size: 30px;
  margin-left: 20px;
}
.navbar h4::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #2ab9c0;
  position: absolute;
  left: 0%;
  transition: all ease 0.4s;
  bottom: -100%;
}
.navbar h4:hover::after {
  bottom: 0;
  border-radius: 0;
}
.navbar h4 a {
  text-decoration: none;
  color: #2ab9c0;
  position: relative;
  z-index: 9;
}

.navbar h4:hover a {
  color: white;
}
.navbar:hover .arrow {
  border: 3px solid white;
}
.job-main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container-inner {
  width: 90%;
}
.heading-container {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.heading-container h1 {
  color: #000;
  font-family: Comfortaa;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.job-description {
  margin-top: 40px;
}
.job-description h1 {
  color: #000;
  font-family: Comfortaa;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.job-description h6 {
  margin-top: 10px;
  color: #000;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.job-description p {
  margin-top: 10px;
  color: #000;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.responsibility {
  width: 100%;
}
.heading {
  width: 100%;
  margin-top: 30px;
}
.heading h1 {
  color: #000;
  font-family: Comfortaa;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.options {
  margin-top: 30px;
  display: flex;
  gap: 100px;
  margin-left: 30px;
}
.first-row ul li,
.second-row ul li {
  color: #000;
  padding: 5px 0;
  font-family: Comfortaa;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.info {
  width: 100%;
}
.information {
  margin-top: 30px;
  width: 100%;
}
.information h1 {
  color: #000;
  font-family: Comfortaa;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.information-part {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}

.left {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.left input {
  font-size: 20px;
  outline: none;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 10px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 10px;
}
.left input::placeholder {
  color: #6d6d6d;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input-info {
  position: relative;
  display: flex;
  align-items: center;
}
.input-info input {
  font-size: 20px;
  outline: none;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 10px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 10px;
  width: 100%;
}
.input-info select {
  cursor: pointer;
  border: none;
  position: absolute;
  right: 0;
}

.right {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.right input::placeholder {
  color: #6d6d6d;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.right input {
  font-size: 20px;
  outline: none;
  padding-left: 20px;
  padding-bottom: 10px;
  margin: 10px 0;
  border-top: none;
  border-left: none;
  border-right: none;
  padding-top: 10px;
}
.resume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.two label {
  width: 100%;
}

.two input {
  width: 100%;
  border: none;
}

.one h6 {
  color: #6d6d6d;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 20px;
}
.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.inner-buttons {
  margin-top: 40px;
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.button1 {
  width: 50%;
}
.button2 {
  width: 50%;
}
.inner-buttons button {
  padding: 10px 0;
  cursor: pointer;
  border-radius: 100px;
  border: 1px solid #2ab9c0;
  background: none;
  width: 100%;
  color: #2ab9c0;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inner-buttons button:hover {
  transition: 0.5s ease;
  background: #2ab9c0;
  color: #fff;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer {
  width: 100%;
  overflow: hidden;
}

.footer-container {
  position: relative;
  width: 100%;
}

.inner-footer {
  position: relative;
  z-index: 1;
  margin-top: 150px;
}
.bg {
  padding-top: 30px;
}
.bg svg {
  width: 100%;
  height: auto;
  display: block;
}
.logo {
  width: 100%;
  margin-left: 100px;
}
.logo img {
  position: absolute;
  top: 0;
  width: 20%;
}
.second {
  position: absolute;
  width: 90%;
  top: 30%;
  justify-content: space-between;
  display: flex;
}
.left-container {
  margin-left: 80px;
  width: 40%;
}
.left-container p {
  color: #000;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.right-container {
  width: 50%;
  margin-top: -30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 20px;
}
.right-container ul li {
  list-style: none;
}
.right-container ul li a {
  text-decoration: none;
  color: #000;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.bottom {
  position: absolute;
  bottom: 30%;
  right: 10%;
}
.bottom-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bottom-one h6 {
  color: #000;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.bottom-two a i {
  color: #2ab9c0;
  font-size: 24px;
}
.bottom-two a {
  text-decoration: none; /* Remove underlines */
  display: inline-block; /* Ensure proper spacing between icons */
  margin-right: 10px; /* Add some spacing between icons if needed */
}
.line {
  position: absolute;
  bottom: 15%;
}
.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 5%;
  position: absolute;
  left: 45%;
}
.copyright p {
  margin-left: 10px; /* Optional: Add some spacing between the icon and the text */
  display: inline-block; /* Optional: Ensure the text is on the same line as the icon */
}

/* Media query */
